body {
  background-color: #ecf0f3;
}
.App {
  background-color: white;
  box-sizing: border-box;
  border-radius: 4px;
  width: 1100px;
  height: 700px;
  margin: 100px auto;
  padding: 40px;
  .header {
    .user {
      margin-bottom: 10px;
    }
    .mcxd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search {
        border: 1px solid #cbd1e3;
        border-radius: 3px;
        padding: 10px;
        width: 250px;
        display: flex;
        justify-content: flex-start;
        .search-icon {
          img {
            width: 20px;
          }
          margin-right: 10px;
        }
      }
      ul {
        li {
          float: left;
          margin: 10px;
          width: 70px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .selected {
          color: white;
          background-color: #849fff;
          border-radius: 4px;
        }
      }
    }
  }
  .user-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;
    height: 400px;
    .user {
      width: 32%;
      padding: 20px;
      background-color: #f9fafc;
      border-radius: 4px;
      height: 190px;
      margin-right: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      .user-avt {
        img {
          width: 75px;
        }
        width: 30%;
      }
      .content {
        width: 70%;
        .tags {
          display: flex;
          flex-wrap: wrap;

          span {
            margin-top: 10px;
            margin-right: 10px;
            border: 1px solid #849fff;
            border-radius: 20px;
            padding: 4px 8px;
            // margin-top: 30px;
            color: #516fd4;
          }
        }
      }
    }
    .user:hover {
      background-color: #fff;
      border: 1px solid #849fff;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
